.spell-sequence {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    color: var(--fa-border-card);
}

.spell-badge {
    display: inline-flex;

    ::deep .spell-icon-link {
        color: inherit;
    }

    ::deep .spell-icon {
        border-width: var(--fa-ring-width);
        border-color: currentColor;
    }
}
